html, body, #root {
    font: 0.9rem sans-serif;
    height: 100%;
    margin: 0;
    width: auto;
    color: #000000;
}

.search {
    outline: none;
    padding: 20px 7%;
    border-radius: 20px;
    border: none;
    margin-bottom: 5%;
    background: rgba(224, 217, 217, 0.85);
}

.app {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:all 0.3s ease-out;
}

.app.cold {
    background-image: url('./images/cold.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    transition:all 0.3s ease-out;


}

.app.warm{
    background-image: url('./images/warm.jpg');
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
    transition:all 0.3s ease-out;
}


.city {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 8%;
    border-radius: 20px;
    background: rgba(224, 217, 217, 0.85);
}

p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.date {
    text-transform: uppercase;
    font-size: 15px;;

}

.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: #1e2432;
    text-align: center;
}

.city sup {
    font-size: 0.5em;
}

.city-name {
    font-size: 2em;
}

.city-name sup {
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: #fff;
    background: #000000;
}

.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .search {
        padding: 20px 15%;
    }

    .city {
        padding: 40px 20%;
    }
}